@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

a:link { text-decoration: none; color: rgb(50,100,50); }

a:visited { text-decoration: none; color: rgb(50,100,50); }

a:hover { text-decoration: underline; color: rgb(50,100,50); }

a:active { text-decoration: none; color: rgb(50,100,50); }

.content {
    grid-area: Content;
}

.sidet {
    text-align: center;
    color: white;
}

.calendly-inline-widget {
    grid-template-areas: Content2;
}

.para {
    padding-top: 100px;
    padding-left: 40px;
    color: white;
    font-family: "Roboto Mono", monospace;
}

.name {
    grid-area: name;
    color: rgb(200,200,200);
    text-align: center;
    margin: auto;
    padding: 20px;
}

.to1 {
    grid-area: to1;
    color: rgb(50,100,50);
    text-align: center;
    font-family: "Roboto Mono", monospace;
    margin: auto;
    padding: 20px;
}

.to2 {
    grid-area: to2;
    color: rgb(50,100,50);
    text-align: center;
    font-family: "Roboto Mono", monospace;
    margin: auto;
    padding: 20px;
}

.to3 {
    grid-area: to3;
    color: rgb(50,100,50);
    text-align: center;
    font-family: "Roboto Mono", monospace;
    margin: auto;
    padding: 20px;
}

.to4 {
    grid-area: to4;
    color: rgb(50,100,50);
    text-align: center;
    font-family: "Roboto Mono", monospace;
    margin: auto;
    padding: 20px;
}

.box1, .box2, .box3 {
    background-color: rgb(40,40,40);
    text-align: center;
    margin: auto;
    color: rgb(50,100,50);
    height: 50%;
    width: 50%;
}