@media (min-width: 2350px) {
    body {
        background-color: rgb(20,20,20);
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        display: grid;
        grid-template-areas:
            "Top Top"
            "Content Content2";
    }

    .topBar {
        width: 100%;
        margin: auto;
        display: grid;
        grid-area: Top;
        grid-template-areas:
        "name to1 to2 to3 to4 spacer spacer spacer spacer spacer spacer spacer spacer spacer spacer spacer spacer spacer spacer spacer";
    }

    .para {
        width: 40%;
    }

    .calendly-inline-widget {
        min-width:400px;
        height:875px;
    }
}