<div class="flex justify-content-center flex-wrap">
    <div class="flex p-3 align-items-center justify-content-center">
        <p-card header="Great White Sharks" subheader="Honors Biology Project" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
            </ng-template>
            <p>
                A website I built for a unit summative in 10th Grade Honors Biology.
            </p>
        </p-card>
    </div>
    <div class="flex p-3 align-items-center justify-content-center">
        <p-card header="Professor Eno" subheader="Computer's Class Website" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
            </ng-template>
            <p>
                Another website I helped build for my Computer Information System's Class.
            </p>
        </p-card>
    </div>
    <div class="flex p-3 align-items-center justify-content-center">
        <p-card header="NetworkJester" subheader="This website :)" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
            </ng-template>
            <p>
                This website was built from scratch using the Angular Framework.
            </p>
        </p-card>
    </div>
    <div class="flex p-3 align-items-center justify-content-center">
        <p-card header="Coming Soon" subheader="Secret Project ;)" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
            </ng-template>
            <p>
                No questions allowed...
                <br>yet...
            </p>
        </p-card>
    </div>
</div>