<div class="topBar">
    <h1 class="site-title">Connor Schuler</h1>
    <nav class="nav-links">
        <p-button class="button" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" label="Home"></p-button>
        <p-button class="button" routerLink="/projects" routerLinkActive="active" ariaCurrentWhenActive="page" label="Projects"></p-button>
        <p-button class="button" routerLink="/blog" routerLinkActive="active" ariaCurrentWhenActive="page" label="Blog"></p-button>
    </nav>
</div>
<router-outlet />
