<div class="card flex align-items-center justify-content-center flex-wrap">
    <div class="flex align-items-center justify-content-center"> 
        <p class="reference">Hello there!<br>
        General Kenobi, you are a bold one. Kill him!<br>
        Back away. I will deal with this Jedi slime myself.<br>
        Your move.<br>
        You fool. I have been trained in your Jedi arts by<br>Count Dooku. Attack, Kenobi.<br>
        Army or not, you must realize you are doomed.<br>
        Oh I don't think so.</p>
    </div>
    <p-divider layout="vertical" />
    <div class="flex align-items-center justify-content-center">
        <p class="reference">Three Rings for the Elven-kings under the sky,<br>
        Seven for the Dwarf-lords in their halls of stone,<br>
        Nine for Mortal Men doomed to die,<br>
        One for the Dark Lord on his dark throne<br>
        In the Land of Mordor where the Shadows lie.<br>
        One Ring to rule them all, One Ring to find them,<br>
        One Ring to bring them all and in the darkness bind them<br>
        In the Land of Mordor where the Shadows lie.</p>
    </div>
    <p-divider layout="vertical" />
    <div class="flex align-items-center justify-content-center">
        <p class="reference">48 65 79 20 74 68 65 72 65 2C 20 49 27 6D 20<br>
        43 6F 6E 6E 6F 72 3A 20 79 6F 75 72 20 72 65<br>
        73 69 64 65 6E 74 20 43 6F 6D 70 75 74 65 72<br>
        2C 20 53 74 61 72 20 57 61 72 73 2C 20 61 6E<br>
        64 20 4C 6F 72 64 20 6F 66 20 54 68 65 20 52<br>
        69 6E 67 73 20 66 72 69 65 6E 64 2E</p>
    </div>
</div>

<div class="flex align-items-center justify-content-center">
    <p>Hey there, I'm Connor. Your resident Computer, Star Wars, and Lord of The Rings friend.</p>
</div>